<% layout("/layouts/boilerplate") %>


    <div class="row mt-3">
        <div class="col-8 offset-2">



            <h3>Create a New List</h3>
            <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" class="form-control" placeholder="enter title" type="text" required>
                    <div class="valid-feedback">Title Looks good!</div>
                </div>
                <div>
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" placeholder="enter description"
                        required></textarea>
                    <div class="invalid-feedback">Please Enter short description!</div>

                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload image</label>
                    <input name="listing[image]" class="form-control" type="file" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" class="form-control" placeholder="enter price" type="text"
                            required>
                        <div class="invalid-feedback">Price Should be valid!</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">location</label>
                        <input name="listing[location]" class="form-control" placeholder="enter location" type="text"
                            required>
                        <div class="invalid-feedback">Location name Should be valid!</div>

                    </div>
                </div>



                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" class="form-control" placeholder="enter country" type="text"
                        required>
                    <div class="invalid-feedback">Country name Should be valid!</div>

                </div>
                <div class="mb-3">
                    <button class="btn btn-dark add-btn mt-3">add</button>
                </div>



            </form>

        </div>
    </div>